@import '/src/themes/theme.scss';

.navbar-container{
    background:rgba($navbar-background-color,0.9);
    padding: 0px 50px;
    box-shadow: $box-shadow;
    .logo-section{
        display: flex;
        flex-wrap: wrap;
        height: 50px;
        align-items: center;
        
        img{
            width: 30px;
            height: 30px;
            margin-right: 16px;
        }
        p{
            color:$white-color;
            margin:0px;
        }
    }

    ul{
        display: flex;
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 50px;
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            color:$white-color;
            width:calc(100%/5);
            list-style: none;
            &:hover{
                background:$navbar-background-color;
                cursor: pointer;
            }
        }

        .nav-active{
            background: $navbar-background-color;
            border-bottom: 2px solid $white-color;
        }
    }
}