<div class="keyword-container">
    <p>Qualification/Relegation</p>
    <div class="keyword-section">
        <div class="key">
            <div class="square blue-color"></div>
            <p>UEFA champion league groups</p>
        </div>
        <div class="key">
            <div class="square orange-color"></div>
            <p>Europa league groups</p>
        </div>
        <div class="key">
            <div class="square red-color"></div>
            <p>Relegation</p>
        </div>
       
    </div>
</div>